html, body { width: 100%; height: 100%; margin: 0; }
#container { position: absolute; top: 0;  left: 0; width: 100%; height: 100%; }
.nodes { position: absolute; z-index: auto; top: 0; left: 0; pointer-events: none; }
.edges { position: absolute; z-index: auto; top: 0; left: 0; }
.edge  { position: absolute; z-index: 2; }
.node  { position: absolute; z-index: 3; }

.node {
    pointer-events: all;
    position: absolute;
    border: solid 3px black;
    background-color: white;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    /* border-radius: 50%; */
    line-height: 50px;
    text-align: center;
}

.edge {
    z-index: 1;
    pointer-events: all;
    fill: none;
    stroke: black;
    stroke-width: 4px;
    stroke-linecap: round;
}

.edge-wrapper {
    pointer-events: stroke;
    fill: none;
    stroke: transparent;
    stroke-width: 20px;
}

.ports {
    position: absolute;
    line-height: 0;
    height: 0;
    width: 100%;
}

.ports.in { top: -1.5px; }
.ports.out { bottom: -1.5px; }

.port {
    margin: 0 1px;
    position: relative;
    display: inline-block;
    border: solid 3px black;
    background-color: white;
    width: 4px;
    height: 4px;
    border-radius: 50%;

    transform: translate(0, -50%);
}
